
/* esercizio 1 */
.ex-1-square{
    
    transition: background-color 2s ease-in-out ;
}

.ex-1-square:hover{
    
    background-color: red;
}

/* esercizio 2 */
.ex-2-square{
    transition: width 2s ease-in-out ;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio 3 */
.ex-3-square{
    transition: border-radius 1s ease-out ;
}

.ex-3-square:hover{
    border-radius: 100%;
}


/* esercizio 4 */
.ex-4-square{
    transition: background-color 1s ease-out ;
}


.ex-4-square:hover{
    background-color: #F5F5F5;
}


/* esercizio 5 */
.ex-5-square{
   transition: all 1s ease-out;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}


/* esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}

/* esercizio 7 */
.ex-7-img{
    transition: all 2s ;
}

.ex-7-img:hover{
    filter: contrast(99%) grayscale(100%);
}

/* esercizio 8 */
.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    border-radius: 23px;
    filter: grayscale(80%) saturate(100%);
}

/* esercizio 9 */
.ex-9-img{
    transition: all 2s ease-in-out;
}

.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 23px;
    filter: sepia(90%) saturate(100%) grayscale(20%);
}

/* esercizio 10 */
.ex-10-icon{
    animation-name: infinitRotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes infinitRotation{
    0% {
        transform: rotate(0deg)  
    }
   
    100% {
        transform: rotate(-360deg)  
    }
}

/* esercizio 11 */

.ex-11-icon:hover{
    animation-name: comeBack;
    animation-duration: 2s;
    animation-timing-function: linear
}

@keyframes comeBack{
    0% {
        transform: rotate(0deg)  
    }
   
    75% {
        transform: rotate(340deg)  
    }
    100% {
        transform: rotate(0deg)  
    }
}



/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation-name: moveBlockTop;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}
.ex-12-button:hover .ex-12-bottom-white{
    animation-name: moveBlockBottom;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}


@keyframes moveBlockTop {
    0% {
        top: -10px;
        left: 10%;
    }

    60% {
        top: -10px;
        left: calc(100% - 60px);
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes moveBlockBottom {
    0% {
        bottom: -10px;
        right: 20%;
    }

    60% {
        bottom: -10px;
        right: calc(100% - 60px);
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}



/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
    animation-name: moveBlockAroundTop;
    animation-duration: 2s;
    animation-timing-function: linear;

}
.ex-13-button:hover .ex-13-bottom-white{
    animation-name: moveBlockAroundBottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    

}


@keyframes moveBlockAroundTop {
    0% {
        top: -10px;
        left: 10%;
    }

    25% {
        top: -10px;
        left: calc(100% - 50px);
    }

    45% {
        top: 60px;
        left: calc(100% - 50px);
    }

    75% {
        top: 60px;
        left: calc(0% - 10px);
    }

    95% {
        top: -10px;
        left: calc(0% - 10px);
    }

    100% {
        top: -10px;
        left: 10%;
    }
}
@keyframes moveBlockAroundBottom {
    0% {
        bottom: -10px;
        right: 10%;
    }

    25% {
        bottom: -10px;
        right: calc(100% - 50px);
    }

    45% {
        bottom: 60px;
        right: calc(100% - 50px);
    }

    75% {
        bottom: 60px;
        right: calc(0% - 10px);
    }

    95% {
        bottom: -10px;
        right: calc(0% - 10px);
    }

    100% {
        bottom: -10px;
        right: 10%;
    }
}

